<a href="https://colab.research.google.com/github/doo52oh/KaggleStudy/blob/master/Europen_Soccer/European_Soccer_Database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# European Soccer Database

##### 데이터 출처: https://www.kaggle.com/hugomathien/soccer

- database.sqlite 데이터베이스를 사용
 
- 데이터 베이스 내 총 7개의 Table 사용  
  * Country: 국가 정보  
  * League: 리그 정보   
  * Match: 경기 정보 (주 데이터셋)  
  * Player: 플레이어 정보  
  * Player_Attributes: 플레이어의 특성  
  * Team: 팀 정보  
  * Team_Attributes: 팀의 특성

### Import Data

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import sqlite3

import os

In [2]:
# os.environ을 이용하여 Kaggle API Username, Key 세팅

os.environ['KAGGLE_USERNAME'] = ''
os.environ['KAGGLE_KEY'] = ''

In [3]:
# aggle API를 이용하여 데이터셋 다운로드하기 (!kaggle ~)

!rm *.*
!kaggle datasets download -d hugomathien/soccer
!unzip '*.zip'

rm: cannot remove '*.*': No such file or directory
Downloading soccer.zip to /content
 49% 16.0M/32.7M [00:00<00:00, 30.3MB/s]
100% 32.7M/32.7M [00:00<00:00, 73.5MB/s]
Archive:  soccer.zip
  inflating: database.sqlite

In [5]:
# sqlite3.connect()와 pd.read_sql_query()로 csv파일 읽어들이기
conn = sqlite3.connect('database.sqlite')
df_country = pd.read_sql_query('SELECT * FROM Country', conn)
df_league = pd.read_sql_query('SELECT * FROM League', conn)
df_match = pd.read_sql_query('SELECT * FROM Match', conn)
df_player = pd.read_sql_query('SELECT * FROM Player', conn)
df_player_att = pd.read_sql_query('SELECT * FROM Player_Attributes', conn)
df_team = pd.read_sql_query('SELECT * FROM Team', conn)
df_team_att = pd.read_sql_query('SELECT * FROM Team_Attributes', conn)

In [6]:
df_country.shape, df_league.shape, df_match.shape, df_player.shape, df_player_att.shape, df_team.shape, df_team_att.shape

((11, 2),
 (11, 3),
 (25979, 115),
 (11060, 7),
 (183978, 42),
 (299, 5),
 (1458, 25))